ghostty/.config/.DS_Store
thefuck/.config/thefuck/__pycache__/settings.cpython-313.pyc
/thefuck/.config/thefuck/__pycache__
thefuck/.config/thefuck/__pycache__/settings.cpython-313.pyc
thefuck/.config/thefuck/__pycache__/settings.cpython-313.pyc
ghostty/.config/.DS_Store
nvim/.config/nvim/lazy-lock.json
.DS_Store
